 
<app-instrument></app-instrument>
<!--app-timer></app-timer -->
<app-navbar></app-navbar>
<nav>
  <ul>
    <li><a routerLink="/app-timer" routerLinkActive="active" ariaCurrentWhenActive="page">Round Robin Timer</a></li>
    <li><a routerLink="/app-prep-speech" routerLinkActive="active" ariaCurrentWhenActive="page">Prepared Speech Timer</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
 
 

<!--button (click)="toggleComponents()">Toggle Components</button>

    <ng-container *ngIf="showComponentA; then componentA else componentB"></ng-container>

    <ng-template #componentA>
      <app-timer></app-timer>
    </ng-template>

    <ng-template #componentB>
      <app-prep-speech></app-prep-speech>
    </ng-template>  
  -->