
<p>Round robin timer</p>
<p><cd-timer #basicTimer class="bootstrap-timer" format="ms" [startTime]="0" [endTime]="20"></cd-timer></p>
<p>
    <button type="button" (click)="doActionBasicTimer('start')" class="btn btn-primary">Start XX</button>
    <button type="button" (click)="doActionBasicTimer('stop')" class="btn btn-primary">Stop</button>
    <button type="button" (click)="doActionBasicTimer('resume')">Resume</button>
    <button type="button" (click)="doActionBasicTimer('reset')">Reset</button>
  </p>