
<p>Round robin timer</p>
<p><cd-timer #basicTimer class="bootstrap-timer" format="ms" [startTime]="0" [endTime]="20"></cd-timer></p>
<p>
    <button type="button" (click)="doActionBasicTimer('start')">Start</button>
    <button type="button" (click)="doActionBasicTimer('stop')">Stop</button>
    <button type="button" (click)="doActionBasicTimer('resume')">Resume</button>
    <button type="button" (click)="doActionBasicTimer('reset')">Reset</button>
  </p>

<!--

  <p>Prepared Speach timer</p>
<p><cd-timer #PrepSpeach class="bootstrap-timer" format="ms"></cd-timer></p>
<p>
    <button type="button" (click)="doActionBasicTimer('start')">Start</button>
    <button type="button" (click)="doActionBasicTimer('stop')">Stop</button>
    <button type="button" (click)="doActionBasicTimer('resume')">Resume</button>
    <button type="button" (click)="doActionBasicTimer('reset')">Reset</button>
  </p>


-->


  <!--p><cd-timer class="bootstrap-timer" [startTime]="0" [endTime]="41" format="ms" #instrumentComponent></cd-timer></p-->

 